body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

.rating{
    min-width: 20%;
}

.review{
    min-width: 20%;
}

.upload{
    padding: 5px;
    border-bottom: 1px solid #4CAF50;
}

.analyzer{
    padding: 5px;
    border-bottom: 1px solid #4CAF50;
}

.logout{
    padding: 5px;
    border-bottom: 1px solid #4CAF50;
}
.expectedResult {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightgreen;
}

.badResult {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightcoral;
}

.result table {
    width: 100%;
    border-collapse: collapse;
}

.result th, .result td {
    border: 1px solid #ddd;
    padding: 8px;
}

.result th {
    background-color: #f4f4f4;
}
