body {
    font-family: Arial, sans-serif;
    margin: 20px;
    justify-content: center;
    align-items: center;
}

form {
    margin-bottom: 20px;
}

.input {
    justify-content: center;
    align-items: center;
}

.expectedResult {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightgreen;
}

.badResult {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: lightcoral;
}

.userRating {
    max-width: 100%;
    min-width: 180px;
}

.userReview {
    max-width: 100%;
}
.valid {
    color:black;
}

.invalid {
    color: black;
}

.input{
    display: flexbox;
}