<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sentiment Analysis</h1>
    <form class="analyzer" method="post" action="{{ url_for('index') }}">
        <input class="rating" name="user_rating" type="number" min="0" max="5" placeholder="Rating Recieved /5" onkeyup=enforceMinMax(this) required="required"><br><br>
        <textarea class="review" name="user_input" rows="4" cols="50" placeholder="Enter text here..." required="required"></textarea><br><br>
        <input type="submit" value="Analyze">
    </form>
    <form class="upload" method="post" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
        <input type="file" name="file" accept=".csv"><br><br>
        <input type="submit" value="Upload CSV">
    </form>
    <form class="logout" action="{{ url_for('logout') }}">
        <input type="submit" value="Logout">
    </form>
    {% if sentiment_results and user_expected %}
    {% if sentiment_results.scoring.label == user_expected.score %}
        <div class="expectedResult">
            <h2>Sentiment Scores:</h2>
            <p><strong>Model:</strong> nlptown/bert-base-multilingual-uncased-sentiment</p>
            <p>Model Expected Rating: <strong class="valid">{{ sentiment_results.scoring.label }}</strong></p>
            <p>Confidence: <strong class="valid">{{ sentiment_results.scoring.score }} / 1</strong></p>
            
            <p><strong>Model:</strong>distilbert-base-uncased-finetuned-sst-2-english</p>
            <p>Sentiment: <strong class="valid">{{ sentiment_results.sentiment.label }}</strong></p>
            <p>Confidence: <strong class="valid">{{ sentiment_results.sentiment.score }} / 1</strong></p>

            <h2>User Recieved Scores</h2>
            <p>Recieved Score: <strong class="valid">{{user_expected.score}}</strong></p>
        </div>
    {% else %}
        <div class="badResult">
            <h2>Sentiment Scores:</h2>
            <p><strong>Model:</strong> nlptown/bert-base-multilingual-uncased-sentiment</p>
            <p>Model Expected Rating: <strong class="invalid">{{ sentiment_results.scoring.label }}</strong></p>
            <p>Confidence: <strong class="invalid">{{ sentiment_results.scoring.score }} / 1</strong></p>
            
            <p><strong>Model:</strong>distilbert-base-uncased-finetuned-sst-2-english</p>
            <p>Sentiment: <strong class="invalid">{{ sentiment_results.sentiment.label }}</strong></p>
            <p>Confidence: <strong class="invalid">{{ sentiment_results.sentiment.score }} / 1</strong></p>

            <h2>User Recieved Scores</h2>
            <p>Recieved User Rating: <strong class="invalid">{{user_expected.score}}</strong></p>
        </div>
        {% endif %}
    {% endif %}
    {% if csv_data and stats %}
        <h1>CSV Upload Results</h1>
        <h2>Processed CSV Data:</h2>
        <pre>{{ csv_data }}</pre>
        <form class="download" action="{{ url_for('download_csv') }}">
            <input type="submit" value="Download Modified CSV">
        </form>
        <h2>Statistics:</h2>
        <p>Average Model Score Confidence: {{ stats.nlptown_avg_score }}</p>
        <p>Average Sentiment Confidence: {{ stats.distilbert_avg_score }}</p>
        <p>Average User Rating: {{ stats.average_rating }}</p>
        <p>Model Percieved Average Score: {{ stats.average_nlptown_star_rating }}</p>
        <p>Average Absolute Difference Between User Rating and nlptown Rating: {{ stats.rating_vs_nlptown }}</p>
    {% endif %}
</body>
</html>
