<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@^2.0/dist/tailwind.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>
        /* Custom Style for Drag and Drop*/
        /* Hide the default file input */
        .hidden-input {
            position: absolute;
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            z-index: -1;
        }   

        /* Drag area styling */
        .drag-area {
            border: 2px dashed #9ca3af; /* Tailwind gray-400 */
            padding: 20px;
            border-radius: 8px;
            text-align: center;
            transition: background-color 0.3s;
            color: #6b7280; /* Tailwind gray-500 */
            margin-bottom: 15px;
        }

        .drag-area:hover {
            background-color: #718096; /* Tailwind gray-200 */
        }

        .drag-area.dragover {
            background-color: #34d399; /* Tailwind gray-300 */
        }

        .drag-area.file-selected {
            background-color: #34d399; /* Lighter green background */
            color: #065f46; /* Tailwind teal-800 */
            border-color: #34d399; /* Tailwind green-400 */
        }
    </style>
</head>

<body class="bg-gray-50 font-sans">
    <header class="bg-gray-800 shadow-2xl rounded-lg my-6 mx-6 px-6 py-4 flex items-center justify-between">
        <!-- Left: Logo & Title -->
        <div class="flex items-center space-x-4">
            <img src="../static/images/android-chrome-512x512.png" alt="Logo" class="h-12 w-12">
            <h1 class="text-3xl font-extrabold text-white">ModernSense</h1>
        </div>
    
        <!-- Right: Navigation Links -->
        <nav class="hidden md:flex space-x-6">
            <form class="logout text-left" action="{{ url_for('logout') }}">
                <input type="submit" class="bg-red-500 hover:bg-red-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" value="Logout">
            </form>
        </nav>
    
        <!-- Mobile Menu Button -->
        <button class="md:hidden text-gray-600 focus:outline-none">
            <svg class="w-8 h-8" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16m-7 6h7"></path>
            </svg>
        </button>
      </header>

    <div class="container mx-auto p-6">
        <!-- Analyzer Form -->
        <form class="analyzer bg-gray-800 text-white shadow-md rounded p-6 mb-6" method="post" action="{{ url_for('input') }}">
            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="rating">Rating Received (/5):</label>
                <input class="rating shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="user_rating" type="number" min="0" max="5" placeholder="Rating Received /5" onkeyup="enforceMinMax(this)" required="required">
            </div>

            <div class="mb-4">
                <label class="block text-sm font-bold mb-2" for="review">Review:</label>
                <textarea class="review shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="user_input" rows="4" placeholder="Enter text here..." required="required"></textarea>
            </div>

            <div class="text-center">
                <input type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer" value="Analyze">
            </div>
        </form>

        <!-- File Upload Form -->
        <form class="upload bg-gray-800 shadow-md rounded p-6 mb-6" method="post" action="{{ url_for('upload_file') }}" enctype="multipart/form-data">
            <div id="drag-area" class="drag-area">
                <p id="drag-text" class="text-white">Drag and Drop CSV Here</p>
                <p class="my-2"><strong>or</strong></p>
                <label for="file-input" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline cursor-pointer">Choose File</label>
                <input id="file-input" type="file" name="file" accept=".csv" class="hidden-input" required>
            </div>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
              {% for category, message in messages %}
                {% if category == 'csv_error' %}
                  <div class="text-center text-red-500">
                    {{ message }}
                  </div>
                {% endif %}
              {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="text-center">
                <input type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 my-2 rounded focus:outline-none focus:shadow-outline cursor-pointer" value="Upload CSV">
            </div>
        </form>

        <!-- Results Section -->
        {% if sentiment_results and user_expected %}
        <div class="results bg-gray-800 text-white shadow-md rounded p-6">
            {% if sentiment_results.scoring.label == user_expected.score %}
            <div class="expectedResult">
                <h2 class="text-2xl font-semibold mb-4">Sentiment Scores</h2>
                <p><strong>Model:</strong> nlptown/bert-base-multilingual-uncased-sentiment</p>
                <p>Model Expected Rating: <strong class="text-green-500">{{ sentiment_results.scoring.label }}</strong></p>
                <p>Confidence: <strong>{{ sentiment_results.scoring.score }} / 1</strong></p>

                <p><strong>Model:</strong> distilbert-base-uncased-finetuned-sst-2-english</p>
                <p>Sentiment: <strong>{{ sentiment_results.sentiment.label }}</strong></p>
                <p>Confidence: <strong>{{ sentiment_results.sentiment.score }} / 1</strong></p>

                <h2 class="text-2xl font-semibold mt-6">User Received Scores</h2>
                <p>Received Score: <strong class="text-green-500">{{user_expected.score}}</strong></p>
            </div>
            {% else %}
            <div class="badResult">
                <h2 class="text-2xl font-semibold mb-4">Sentiment Scores</h2>
                <p><strong>Model:</strong> nlptown/bert-base-multilingual-uncased-sentiment</p>
                <p>Model Expected Rating: <strong class="text-red-500">{{ sentiment_results.scoring.label }}</strong></p>
                <p>Confidence: <strong>{{ sentiment_results.scoring.score }} / 1</strong></p>

                <p><strong>Model:</strong> distilbert-base-uncased-finetuned-sst-2-english</p>
                <p>Sentiment: <strong class="text-red-500">{{ sentiment_results.sentiment.label }}</strong></p>
                <p>Confidence: <strong>{{ sentiment_results.sentiment.score }} / 1</strong></p>

                <h2 class="text-2xl font-semibold mt-6">User Received Scores</h2>
                <p>Received User Rating: <strong class="text-red-500">{{user_expected.score}}</strong></p>
            </div>
            {% endif %}
        </div>
        {% endif %}

        <!-- Processed CSV Data -->
        {% if stats and columns and rows %}
        <div class="csv-results bg-gray-800 text-white shadow-md rounded-lg p-6 mt-6">
            <h1 class="text-2xl font-semibold mb-4">CSV Upload Results</h1>
            <!-- Stats -->
            <div class="mt-6">
                <h2 class="text-xl font-semibold">Statistics:</h2>
                <p>Average Model Score Confidence: {{ stats.nlptown_avg_score }}</p>
                <p>Average Sentiment Confidence: {{ stats.distilbert_avg_score }}</p>
                <p>Average User Rating: {{ stats.average_rating }}</p>
            </div>
            <!-- Responsive table wrapper -->
            <div class="overflow-x-auto bg-white px-2 py-2 rounded">
                <table id="csvTable" class="table-auto w-full border-collapse border border-gray-200 text-left">
                    <thead class="bg-gray-50 text-gray-700">
                        <tr>
                            {% for col in columns %}
                            <th class="px-4 py-3 border-b border-gray-200 font-semibold">{{ col }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody class="text-gray-600">
                        {% for row in rows %}
                        <tr class="hover:bg-gray-100 border-b border-gray-200">
                            {% for cell in row %}
                            <td class="px-4 py-3">{{ cell }}</td>
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Download Button -->
            <form class="download text-center mt-4" action="{{ url_for('download_csv') }}">
                <input type="submit" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded-lg focus:outline-none focus:shadow-outline cursor-pointer" value="Download Modified CSV">
            </form>
        </div>
        {% endif %}
    </div>
    <footer class="bg-gray-800 text-white py-4 text-center">
        <h2 class="text-2xl font-semibold mb-4">Contact Us</h2>
        <p class="text-lg">If you have any questions or need support, feel free to reach out to us at 
            <a href="mailto:support@example.com" class="text-green-600 underline">modernsense.noreply@gmail.com</a>.
        </p>
        <p>&copy; 2024 ModernSense. All rights reserved.</p>
    </footer>

    <!-- Scripts -->
    <!-- jQuery and DataTables JS (required for DataTables) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    
    <!-- Include Custom JS Files -->
    <script src="{{ url_for('static', filename='js/table-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/chart-script.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dragdrop-script.js') }}"></script>
</body>

</html>
